* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

body {
    background-color: #f7f8fc;
}

:root {
    --accent-color: #202125;
    --hover-color: #ff02c0;
}

.card-section {
    /* background-color: aqua; */
    margin: 40px;
}

.card-container {
    margin: 10px;
    padding: 20px;
}

.row {
    align-items: center;
}


.jumbotron-fluid {
    margin: 50px;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.jumbotron-fluid img {
    width: 150px;
    border-radius: 50%;
}

.jumbotron-fluid h1 {
    font-size: 30px;
    margin-top: 20px;
}

.jumbotron-fluid i {
    color: white;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.jumbotron-fluid i:hover {
    color: var(--hover-color);
}

.row {
    margin: 20px;
}

.navbar {
    height: 100px;
    background-color: var(--accent-color);
}

.section-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.work h1 {
    font-size: 30px;
    display: inline;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: var(--accent-color);
}

.work h1:hover {
    background-color: var(--hover-color);
}

.card {
    margin: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.skills h1 {
    font-size: 30px;
    display: inline;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: var(--accent-color);
}

.skills h1:hover {
    background-color: var(--hover-color);
}